<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <!-- LOG DIRECTORY -->
    <property name="LOG_PATH" value="logs"/>

    <!-- CONSOLE APPENDER -->
    <appender name="CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">

        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>

    </appender>

    <!-- MAIN ROLLING FILE APPENDER -->
    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${LOG_PATH}/todoapp.log</file>

        <rollingPolicy
            class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">

            <!-- archived file pattern -->
            <fileNamePattern>
                ${LOG_PATH}/archived/todoapp.%d{yyyy-MM-dd}.%i.log.gz
            </fileNamePattern>

            <!-- max file size -->
            <maxFileSize>5MB</maxFileSize>

            <!-- keep 30 days -->
            <maxHistory>30</maxHistory>

            <!-- total log size -->
            <totalSizeCap>1GB</totalSizeCap>

        </rollingPolicy>

        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>

    </appender>

    <!-- ERROR ONLY FILE -->
    <appender name="ERROR_FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${LOG_PATH}/error.log</file>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>

        <rollingPolicy
            class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">

            <fileNamePattern>
                ${LOG_PATH}/archived/error.%d{yyyy-MM-dd}.%i.log.gz
            </fileNamePattern>

            <maxFileSize>5MB</maxFileSize>
            <maxHistory>30</maxHistory>

        </rollingPolicy>

        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>

    </appender>

    <!-- ROOT LOGGER -->
    <root level="INFO">

        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="ERROR_FILE"/>

    </root>

</configuration>